:root {
    --color-text-normal: #44465e;
    --default-font-family: 'Quicksand', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--default-font-family);
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--color-text-normal);
    line-height: 1.5;
    background-color: #44465e;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
    font-family: var(--default-font-family);
}

button {
    color: #fff;
    background-color: rgb(85, 135, 233);
    font-weight: 600;
    cursor: pointer;

    &:hover {
        background-color: rgb(51, 114, 240);
    }
}

input {
    border-radius: 20px;
    background-color: #f7f7fd;
    padding: 10px 20px;
    font-size: 1.6rem;
}

a[href] {
    text-decoration: none;
}

.ais-RefinementList-count {
    background-color: rgba(68, 70, 94, 0.1);
    border-radius: 5px;
    padding: 0 5px;
    margin-left: 5px;
    font-size: 1.3rem;
}

.ais-SearchBox-reset {
    display: none;
}

.ais-SearchBox-submit {
    border-radius: 20px;
    width: 38px;
    height: 38px;
    margin-left: 10px;
}

.ais-SearchBox-input {
    margin-bottom: 5px;
    width: 400px;
}

.ant-divider-vertical {
    height: auto;
}

.ant-row {
    flex-flow: nowrap;
}

.ais-InfiniteHits-loadMore {
    padding: 10px 20px;
    border-radius: 20px;
}

.ais-InfiniteHits-list {
    list-style: none;
}